.contacts__list {
  list-style: none;
  padding: 20px;
  margin: 0;
  text-align: center;
  background-color: #f2f2f2;
}

.contacts__item {
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;

  &:not(:last-child) {
    border-bottom: 1px solid #d9d9d9;
  }
}

.contacts-logo {
  margin: 0 auto;
  display: block;
  width: 128px;
  height: 24px;
}

.contacts__academy-link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  height: 34px;
}

.contacts__subtitle {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  font-weight: 400;
  margin: 0;
}
