.contacts {
  &__list {
    list-style: none;
    padding: 20px;
    margin: 0;
    text-align: center;
    background-color: @light_grey;
  }

  &__item {
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;

    &:not(:last-child) {
      border-bottom: 1px solid @light_grey_4;
    }
  }

  &__logo {
    margin: 0 auto;
    display: block;
    width: 128px;
    height: 24px;
  }

  &__academy-link {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 280px;
    height: 34px;
  }

  &__subtitle {
    font-family: @font_Lato;
    font-size: 16px;
    line-height: 20px;
    color: @dark_grey_2;
    font-weight: 400;
    margin: 0;
  }
}
