.main-nav {
  box-sizing: border-box;
}

.main-nav__list {
  list-style: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 320px;
  padding: 0;
}

.site-list {
  text-align: center;
  background-color: #ffffff;
}

.site-list--close {
  display: none;
}

.site-list__item {
  padding: 22px;
  padding-bottom: 24px;
}

.site-list__link {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
