.main-header {
  position: relative;
  padding: 13px 20px 15px 20px;
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet_width) {
    padding: 25px 34px 0 30px;
  }

  @media (min-width: @desktop_width) {
    padding: 55px 110px 0 110px;
  }
}
