
.page {
  height: 100%;

  &__body {
    display: flex;
    min-height: 100%;
    min-width: 340px;
    margin: 0;
    font-family: @font_Lato;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: @dark_grey_2;
    background-color: @back_grey;
    box-sizing: border-box;
  }

  &__container {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin: 0 auto;
    background-color: @base-white;
  }
}

.main-container {
  flex-grow: 1;
}
