.hero {
  padding: 27px 20px 0 20px;
  position: relative;
  text-align: center;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 302px;
    left: 0;
    background-color: rgba(104, 183, 56, 0.85);
    z-index: -2;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 302px;
    left: 0;
    background-image: url("../../../img/hero-back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.15;
    z-index: -2;
  }

  @media (min-width: @tablet_width) {
    padding: 60px 120px 526px 120px;
    text-align: start;

    &::after {
      background-image: none;
    }

    &::before {
      background-color: @white;
    }
  }

  @media (min-width: @desktop_width) {
    padding: 105px 190px 266px 190px;

    &::after {
      right: 0;
      left: auto;
      top: -119px;
      background-image: url("../../../img/hero-back.jpg");
      height: 694px;
      width: 720px;
    }

    &::before {
      top: -119px;
      left: auto;
      right: 0;
      background-color: rgba(104, 183, 56, 0.85);
      height: 694px;
      width: 720px;
    }
  }
}

.hero__title {
  font-family: @font_Oswald;
  font-size: 36px;
  line-height: 36px;
  color: @white;
  font-weight: 400;
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: @tablet_width) {
    color: @black;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 40px;
    max-width: 420px;
  }
}

.hero__text {
  font-family: @font_Oswald;
  font-size: 14px;
  line-height: 14px;
  color: @white;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;

  @media (min-width: @tablet_width) {
    color: @black;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 50px;
    max-width: 420px;
  }
}

.hero__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 44px;
  font-family: @font_Oswald;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  width: 280px;
  min-height: 40px;

  @media (min-width: @tablet_width) {
    max-width: 244px;
    min-height: 54px;
    padding: 14px 26px;
    font-size: 20px;
    line-height: 20px;
  }
}

.hero__logo {
  @media (min-width: @tablet_width) {
    position: absolute;
    bottom: 0;
    right: 30px;
    z-index: -1;
    width: 630px;
    height: 609px;
  }

  @media (min-width: @desktop_width) {
    top: 29px;
    right: 331px;
    z-index: -1;
    width: 522px;
    height: 499px;
  }
}
