.hero {
  padding: 27px 20px 0 20px;
  position: relative;
  text-align: center;
  width: 320px;
  box-sizing: border-box;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 302px;
    left: 0;
    background-color: rgba(104, 183, 56, 0.85);
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 302px;
    left: 0;
    background-image: url("../../../img/hero-back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.15;
    z-index: -1;
  }
}

.hero__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  font-weight: 400;
  margin: 0;
  margin-bottom: 25px;
}

.hero__text {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}

.hero__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 44px;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  box-sizing: border-box;
  min-width: 280px;
  min-height: 40px;
}
