.main-header {
  padding: 14px 20px;
  display: flex;
  justify-content: space-between;
}
.main-header__logo {
  width: 190px;
  max-height: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-nav {
  box-sizing: border-box;
  display: flex;
  align-items: start;
}
.main-nav__list {
  list-style: none;
  position: absolute;
  z-index: 2;
  top: 52px;
  left: 50%;
  transform: translateX(-50%);
  width: 320px;
  padding: 0;
}
.main-nav__toggle--open {
  width: 24px;
  height: 38px;
  background-image: url("../../img/menu-open.svg");
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-position: center;
  border: none;
}
.site-list {
  text-align: center;
  background-color: #ffffff;
}
.site-list--close {
  display: none;
}
.site-list__item {
  box-sizing: border-box;
  height: 66px;
  padding: 22px;
  padding-bottom: 24px;
  border-top: 1px solid #e6e6e6;
}
.site-list__item:last-child {
  border-bottom: 1px solid #e6e6e6;
}
.site-list__link {
  display: block;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
.button {
  text-decoration: none;
  background-color: #68b738;
  color: #ffffff;
  border: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.main-footer {
  box-sizing: border-box;
}
.social__list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 0;
  margin: 0;
}
.social__link {
  display: block;
  width: 28px;
  height: 22px;
}
.adress {
  background-color: #f2f2f2;
}
.adress__wrapper {
  padding: 26px 20px;
  display: flex;
}
.adress__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
}
.adress__text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  font-weight: 400;
  margin: 0;
}
.adress__map {
  display: block;
  max-width: 320px;
  max-height: 362px;
}
.contacts__list {
  list-style: none;
  padding: 20px;
  margin: 0;
  text-align: center;
  background-color: #f2f2f2;
}
.contacts__item {
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
}
.contacts__item:not(:last-child) {
  border-bottom: 1px solid #d9d9d9;
}
.contacts-logo {
  margin: 0 auto;
  display: block;
  width: 128px;
  height: 24px;
}
.contacts__academy-link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  height: 34px;
}
.contacts__subtitle {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  font-weight: 400;
  margin: 0;
}
.hero {
  padding: 27px 20px 0 20px;
  position: relative;
  text-align: center;
  width: 320px;
  box-sizing: border-box;
  z-index: 1;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 302px;
  left: 0;
  background-color: rgba(104, 183, 56, 0.85);
  z-index: -1;
}
.hero::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 302px;
  left: 0;
  background-image: url("../../../img/hero-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.15;
  z-index: -1;
}
.hero__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  font-weight: 400;
  margin: 0;
  margin-bottom: 25px;
}
.hero__text {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}
.hero__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 44px;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  box-sizing: border-box;
  min-width: 280px;
  min-height: 40px;
}
.strategies__list {
  list-style: none;
  margin: 0;
  padding: 20px;
}
.strategies__item {
  background-color: #f2f2f2;
  padding: 24px 20px 18px 20px;
  box-sizing: border-box;
  position: relative;
}
.strategies__item:not(:last-child) {
  margin-bottom: 20px;
}
.strategies__item::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  top: 24px;
  left: 20px;
  border-radius: 50%;
  background-color: #68b738;
}
.strategies__item:nth-child(1)::after {
  content: "";
  position: absolute;
  width: 36px;
  height: 50px;
  top: 21px;
  left: 27px;
  background-image: url("../../../img/icon-cat-slim.svg");
  background-position: center;
  background-size: 36px 50px;
  background-repeat: no-repeat;
}
.strategies__item:nth-child(2)::after {
  content: "";
  position: absolute;
  width: 67px;
  height: 28px;
  top: 35px;
  left: 13px;
  background-image: url("../../../img/icon-cat-pro.svg");
  background-position: center;
  background-size: 67px 28px;
  background-repeat: no-repeat;
}
.strategies__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  color: #000000;
  font-weight: 400;
  margin-top: 10px;
  margin-left: 70px;
  margin-bottom: 29px;
  text-transform: uppercase;
}
.strategies__text {
  color: #444444;
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;
}
.strategies__link {
  display: flex;
  align-items: center;
  width: 134px;
  height: 24px;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  font-weight: 400;
  margin-top: 15px;
  text-transform: uppercase;
  position: relative;
}
.strategies__link::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 12px;
  top: 6px;
  right: 8px;
  background-image: url("../../../img/icon-arrow.svg");
  background-position: center;
  background-size: 24px 12px;
  background-repeat: no-repeat;
}
.features {
  box-sizing: border-box;
  padding: 0 20px 49px 20px;
}
.features__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  font-weight: 400;
  margin: 0;
  margin-bottom: 40px;
}
.features__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.features__text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  font-weight: 400;
  margin: 0;
  margin-left: 80px;
}
.features__item {
  position: relative;
  min-height: 60px;
}
.features__item:not(:last-child) {
  margin-bottom: 22px;
}
.features__item::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
}
.features__item::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  left: 0;
  background-color: #68b738;
}
.features__item--healthy::before {
  background-image: url("../../../img/icon-leaf.svg");
}
.features__item--handy::before {
  background-image: url("../../../img/icon-bulb.svg");
}
.features__item--simple::before {
  background-image: url("../../../img/icon-fork.svg");
}
.features__item--fast::before {
  background-image: url("../../../img/icon-alarm.svg");
}
.review {
  box-sizing: border-box;
  background-color: #eaeaea;
  padding: 25px 20px 40px 20px;
}
.review__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  font-weight: 400;
  margin: 0;
  margin-bottom: 40px;
}
.review__text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  font-weight: 400;
  margin: 0;
  margin-bottom: 20px;
}
.stats__list {
  display: flex;
  gap: 32px;
}
.stats__item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  position: relative;
  width: 124px;
  height: 54px;
  max-height: 54px;
}
.stats__number {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
}
.stats__description {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  font-weight: 400;
  margin: 0;
  position: absolute;
  top: 46px;
  text-transform: lowercase;
  max-width: 80px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  background-color: #eaeaea;
}
.stats__summ {
  margin-top: 34px;
  margin-bottom: 20px;
  display: flex;
  gap: 3px;
  justify-content: center;
}
.stats__title,
.stats__text {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
}
.appointment {
  background-color: #ffffff;
}
.appointment__header {
  border-top: 1px solid #d9d9d9;
  padding: 27px 20px 39px 20px;
}
.appointment__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-weight: 400;
  margin: 0;
  margin-bottom: 37px;
}
.appointment__text {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
}
.cat-info {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 14px;
  border: none;
  border-bottom: 1px solid #d9d9d9;
  padding: 0 20px 20px 24px;
}
.cat-info__wrapper {
  display: flex;
  gap: 13px;
  height: 45px;
  justify-content: space-between;
}
.cat-info__label {
  display: flex;
  align-items: center;
  min-width: max-content;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  font-weight: 400;
  text-transform: uppercase;
}
.cat-info__input {
  flex-grow: 1;
  border: 1px solid #e7e7e7;
  padding: 14px 15px 13px 15px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  font-weight: 400;
  text-transform: uppercase;
}
.owner-data {
  margin: 0;
  border: none;
  padding: 0 20px 24px 20px;
}
.owner-data__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  font-weight: 400;
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
}
.owner-data__comtainer {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.owner-data__wrapper {
  display: flex;
  gap: 13px;
  height: 45px;
  justify-content: space-between;
}
.owner-data__label {
  display: flex;
  align-items: center;
  min-width: max-content;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  font-weight: 400;
  text-transform: uppercase;
}
.owner-data__input {
  flex-grow: 1;
  border: 1px solid #e7e7e7;
  padding: 14px 15px 13px 15px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  font-weight: 400;
  text-transform: uppercase;
}
.control {
  display: flex;
  position: relative;
  cursor: pointer;
}
.control__mark,
.control__radio {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  box-sizing: border-box;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.control__radio {
  border-radius: 50%;
}
.control__input[type="radio"]:checked + .control__radio::before {
  content: "";
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #68b738;
  margin: auto;
}
.control__input[type="checkbox"]:checked + .control__mark::before {
  content: "";
  width: 18px;
  height: 14px;
  background-image: url("../../../img/icon-checkmark.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.control__label {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  margin-left: 45px;
}
.count__input::-webkit-outer-spin-button,
.count__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}
.strategy {
  margin: 0;
  border: none;
  border-bottom: 1px solid #d9d9d9;
  padding: 28px 20px 25px 22px;
  margin-bottom: 26px;
}
.strategy__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 0;
  margin: 0;
}
.comment {
  margin: 0;
  border: none;
  padding: 0 20px 23px 20px;
}
.comment__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  font-weight: 400;
  padding: 0;
  margin: 0;
  margin-bottom: 38px;
}
.comment_input {
  min-width: 280px;
  min-height: 150px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  font-weight: 400;
  text-transform: uppercase;
  padding: 14px;
  box-sizing: border-box;
  border: 1px solid #e7e7e7;
}
.extra {
  margin: 0;
  border: none;
  padding: 0 20px 40px 20px;
}
.extra__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  font-weight: 400;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}
.extra__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.submit {
  padding: 0 20px 32px 20px;
  text-align: center;
}
.submit__button {
  min-width: 280px;
  height: 40px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 21px;
}
.submit__legend {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
.catalog-main {
  display: flex;
  flex-direction: column;
}
.main-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.more-card {
  padding: 25px 20px 24px 20px;
  text-align: center;
  border-bottom: 1px solid #ebebeb;
}
.more-card__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  font-weight: 400;
  margin-top: 53px;
  margin-bottom: 8px;
  text-transform: uppercase;
}
.more-card__text {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  font-weight: 400;
  margin: 0;
  margin-bottom: 21px;
}
.more-card__link {
  width: 280px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #444444;
  text-transform: uppercase;
  background-color: #f2f2f2;
  text-decoration: none;
}
.catalog-wrapper__header {
  padding: 27px 20px 41px 20px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
.catalog-wrapper__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-weight: 400;
  margin: 0;
}
.product-card {
  display: grid;
  padding: 20px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ebebeb;
  grid-template-columns: repeat(2, 1fr);
  gap: 21px 0;
}
.product-card__image {
  grid-column: 1/2;
  margin: auto;
  padding: 0;
}
.product-card__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  font-weight: 400;
  margin: 0;
  margin-bottom: 14px;
  max-width: 80px;
  text-transform: uppercase;
}
.product-card__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.product-card__item {
  display: flex;
  justify-content: space-between;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  font-weight: 400;
  margin: 0;
}
.product-card__link {
  box-sizing: border-box;
  grid-area: 2/1/3/-1;
  width: 280px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
.catalog-extra {
  display: flex;
  flex-direction: column;
  padding: 25px 20px 35px 20px;
}
.catalog-extra__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  font-weight: 400;
  margin-bottom: 36px;
}
.extra-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.extra-card {
  display: grid;
  padding: 13px 0 19px 0;
  border-top: 1px solid #cdcdcd;
  grid-template-rows: repeat(3, max-content);
  grid-template-columns: repeat(2, 1fr);
}
.extra-card:last-child {
  border-bottom: 1px solid #cdcdcd;
}
.extra-card__title {
  grid-area: 1/1/2/-1;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  font-weight: 400;
  margin: 0;
  margin-bottom: 13px;
  text-transform: uppercase;
}
.extra-card__text {
  grid-row: 2/3;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  font-weight: 400;
  margin: 0;
  margin-bottom: 15px;
}
.extra-card__text--price {
  margin-right: 0;
  margin-left: auto;
}
.extra-card__link {
  grid-area: 3/1/4/-1;
  width: 280px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
.gift {
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  box-sizing: border-box;
  margin-top: 35px;
  z-index: 2;
  background-color: rgba(104, 183, 56, 0.85);
}
.gift::before {
  content: "";
  width: 78px;
  height: 80px;
  top: 59px;
  position: absolute;
  background-image: url("../../../img/icon-gift.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.gift::after {
  content: "";
  position: absolute;
  height: 290px;
  top: 0;
  right: 0;
  left: 0;
  background-image: url("../../../img/cat-gift-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.15;
  z-index: -1;
}
.gift__text {
  display: block;
  max-width: 161px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 43px;
  margin-top: 187px;
  position: relative;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}
body {
  display: flex;
  min-height: 100%;
  min-width: 400px;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  background-color: #e5e5e5;
  box-sizing: border-box;
}
.page__container {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  background-color: #ffffff;
}
.main-container {
  flex-grow: 1;
}
/*# sourceMappingURL=style.css.map */
