.appointment {
  background-color: @white;
}

.appointment__header {
  border-top: 1px solid @light_grey_4;
  padding: 27px 20px 39px 20px;

  @media (min-width: @tablet_width) {
    padding: 60px 70px 66px 70px;
    border: none;
  }

  @media (min-width: @desktop_width) {
    padding: 70px 110px 66px 110px;
  }
}

.appointment__title {
  font-family: @font_Oswald;
  font-size: 36px;
  line-height: 36px;
  color: @black;
  font-weight: 400;
  margin: 0;
  margin-bottom: 37px;

  @media (min-width: @tablet_width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 54px;
  }

  @media (min-width: @desktop_width) {
    margin-bottom: 55px;
    margin-top: 118px;
  }
}

.appointment__subtitle {
  font-family: @font_Oswald;
  font-size: 24px;
  line-height: 26px;
  color: @black;
  font-weight: 400;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;

  &::after {
    content: "";
    height: 17px;
    border-bottom: 2px solid @green;
    margin-right: -20px;
    flex-grow: 1;
  }

  @media (min-width: @tablet_width) {
    font-size: 36px;
    line-height: 36px;
    gap: 40px;

    &::before {
      content: "";
      width: 30px;
      height: 24px;
      border-bottom: 2px solid @green;
      margin-left: -70px;
    }

    &::after {
      height: 24px;
      margin-right: -70px;
    }
  }

  @media (min-width: @desktop_width) {
    font-size: 36px;
    line-height: 36px;

    &::before {
      width: 70px;
      height: 25px;
      margin-left: -110px;
    }

    &::after {
      height: 25px;
      margin-right: -110px;
    }
  }
}

.appointment__text {
  font-family: @font_Oswald;
  font-size: 14px;
  line-height: 18px;
  color: @black;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  width: 250px;

  @media (min-width: @tablet_width) {
    font-size: 20px;
    line-height: 30px;
    width: 323px;
  }
}
