.comment {
  margin: 0;
  border: none;
  padding: 0 20px 23px 20px;
}

.comment__title {
  margin-bottom: 38px;

  &::after {
    width: 159px;
  }
}

.comment__input {
  min-width: 280px;
  min-height: 150px;
  font-family: @font_Oswald;
  font-size: 16px;
  line-height: 18px;
  color: @dark_grey_2;
  font-weight: 400;
  text-transform: uppercase;
  padding: 14px;
  border: 1px solid @light_grey_6;
}
