.comment {
  margin: 0;
  border: none;
  padding: 0 20px 23px 20px;


  &__title {
    margin-bottom: 38px;
  }

  &__input {
    min-width: 280px;
    min-height: 150px;
    font-family: @font_Oswald;
    font-size: 16px;
    line-height: 18px;
    color: @dark_grey_2;
    font-weight: 400;
    text-transform: uppercase;
    padding: 14px;
    box-sizing: border-box;
    border: 1px solid @light_grey_6;
  }
}
