.control {
  display: flex;
  position: relative;
  cursor: pointer;

  &__mark,
  &__radio {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    box-sizing: border-box;
    border: 1px solid @light_grey_3;
    background-color: @white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__radio {
    border-radius: 50%;
  }

  &__input[type="radio"]:checked + &__radio::before {
    content: "";
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: @green;
    margin: auto;
  }

  &__input[type="checkbox"]:checked + &__mark::before {
    content: "";
    width: 18px;
    height: 14px;
    background-image: url("../../../img/icon-checkmark.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__label {
    font-family: @font_Oswald;
    font-size: 16px;
    line-height: 18px;
    color: @dark_grey_2;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
    margin-left: 45px;
  }

  &__input::-webkit-outer-spin-button,
  &__input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
}
