.extra {
  margin: 0;
  border: none;
  padding: 0 20px 40px 20px;
}

.extra__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  font-weight: 400;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.extra__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
