.owner-data {
  margin: 0;
  border: none;
  padding: 0 20px 24px 20px;

  &__title {
    margin-bottom: 35px;
  }

  &__comtainer {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  &__wrapper {
    display: flex;
    gap: 13px;
    height: 45px;
    justify-content: space-between;
  }

  &__label {
    display: flex;
    align-items: center;
    min-width: max-content;
    font-family: @font_Oswald;
    font-size: 16px;
    line-height: 18px;
    color: @dark_grey_2;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__input {
    flex-grow: 1;
    border: 1px solid @light_grey_6;
    padding: 14px 15px 13px 15px;
    font-family: @font_Oswald;
    font-size: 16px;
    line-height: 18px;
    color: @dark_grey_2;
    font-weight: 400;
    text-transform: uppercase;
  }
}
