.strategy {
  margin: 0;
  border: none;
  border-bottom: 1px solid @light_grey_4;
  padding: 28px 20px 25px 22px;
  margin-bottom: 26px;

  @media (min-width: @tablet_width) {
    border: none;
    padding: 0 70px 65px 70px;
    margin: 0;
  }

  @media (min-width: @desktop_width) {
    padding: 0;
  }
}

.strategy__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet_width) {
    border: 1px solid @light_grey_6;
    padding: 28px 27px 32px 27px;
    gap: 23px;
  }
}
