.catalog-extra {
  @media (min-width: @tablet_width) {
    padding: 0 30px 70px 30px;
  }
}

.catalog-extra__title {
  font-family: @font_Oswald;
  font-size: 24px;
  line-height: 24px;
  color: @black;
  font-weight: 400;
  margin-bottom: 36px;
  margin-left: 20px;

  @media (min-width: @tablet_width) {
    font-size: 36px;
    line-height: 36px;
    margin-top: 0;
    margin-bottom: 80px;
    margin-left: 70px;
  }
}

.catalog-extra__list {
  list-style: none;
  margin: 0;
  padding: 0 20px;

  @media (min-width: @tablet_width) {
    border: 1px solid @light_grey;
    padding: 0;
  }
}
