.catalog-wrapper__header {
  padding: 27px 20px 41px 20px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.catalog-wrapper__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-weight: 400;
  margin: 0;
}
