.catalog-extra {
  @media (min-width: @tablet_width) {
    padding: 0 30px 70px 30px;
  }

  @media (min-width: @desktop_width) {
    padding: 0 110px 87px 110px;
  }
}

.catalog-extra__title {
  font-family: @font_Oswald;
  font-size: 24px;
  line-height: 24px;
  color: @black;
  font-weight: 400;
  margin-bottom: 36px;
  margin-left: 20px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: @green;
    top: 16px;
    right: 0;
    width: 54px;
  }

  @media (min-width: @tablet_width) {
    font-size: 36px;
    line-height: 36px;
    margin-top: 0;
    margin-bottom: 80px;
    margin-left: 40px;

    &::after {
      right: -30px;
      width: 320px;
      top: 22px;
    }

    &::before {
      content: "";
      position: absolute;
      height: 2px;
      background-color: @green;
      top: 22px;
      left: -70px;
      width: 30px;
    }
  }

  @media (min-width: @desktop_width) {
    margin: 0;
    margin-bottom: 80px;

    &::after {
      right: -110px;
      width: 952px;
    }

    &::before {
      left: -110px;
      width: 70px;
    }
  }
}

.catalog-extra__wrapper {
  @media (min-width: @desktop_width) {
    display: flex;
    gap: 80px;
  }
}

.catalog-extra__list {
  list-style: none;
  margin: 0;
  padding: 0 20px;

  @media (min-width: @tablet_width) {
    border: 1px solid @light_grey_3;
    padding: 0;
  }

  @media (min-width: @desktop_width) {
    width: 896px;
    border: none;
  }
}
