.gift {
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  width: 280px;
  margin: 35px auto;
  padding: 0 20px;
  z-index: 2;
  background-color: rgba(104, 183, 56, 0.85);

  &::before {
    content: "";
    width: 78px;
    height: 80px;
    top: 59px;
    position: absolute;
    background-image: url("../../../img/icon-gift.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &::after {
    content: "";
    position: absolute;
    height: 290px;
    top: 0;
    right: 0;
    left: 0;
    background-image: url("../../../img/cat-gift-back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.15;
    z-index: -1;
  }

  @media (min-width: @tablet_width) {
    padding: 0;
    margin: 0;
    margin-top: 70px;
    width: 707px;
    height: 200px;
    text-align: start;
    justify-content: end;

    &::after {
      height: 200px;
    }

    &::before {
      top: 57px;
      left: 77px;
    }
  }
}

.gift__text {
  display: block;
  max-width: 161px;
  font-family: @font_Lato;
  font-size: 16px;
  line-height: 20px;
  color: @white;
  font-weight: 400;
  margin-bottom: 43px;
  margin-top: 187px;
  position: relative;

  @media (min-width: @tablet_width) {
    width: 161px;
    margin-top: 71px;
    margin-right: 125px;
    margin-bottom: 0;
  }
}
