.more-card {
  padding: 24px 20px;
  text-align: center;
  border-bottom: 1px solid @light_grey_2;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 30px;
    height: 2px;
    background-color: @light_grey_7;
    left: 50%;
    top: 39px;
    transform: translateX(-50%);
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    height: 30px;
    width: 2px;
    background-color: @light_grey_7;
    left: 50%;
    top: 25px;
    transform: translateX(-50%);
  }

  @media (min-width: @tablet_width) {
    padding: 40px 37px;
    border: 2px solid @light_grey;

    &::before {
      width: 60px;
      top: 79px;
    }

    &::after {
      height: 60px;
      top: 49px;
    }
  }

  @media (min-width: @desktop_width) {
    padding: 40px 38px;
  }
}

.more-card__title {
  font-family: @font_Oswald;
  font-size: 16px;
  line-height: 20px;
  color: @dark_grey_4;
  font-weight: 400;
  margin-top: 53px;
  margin-bottom: 9px;
  text-transform: uppercase;

  @media (min-width: @tablet_width) {
    margin: auto;
    margin-top: 120px;
    margin-bottom: 23px;
    width: 170px;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: @desktop_width) {
    margin: auto;
    margin-top: 107px;
    margin-bottom: 26px;
    width: 165px;
  }
}

.more-card__text {
  font-family: @font_Lato;
  font-size: 12px;
  line-height: 16px;
  color: @dark_grey_2;
  font-weight: 400;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: @tablet_width) {
    margin: auto;
    margin-bottom: 82px;
    width: 170px;
    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: @desktop_width) {
    margin-bottom: 90px;
    width: 165px;
  }
}

.more-card__link {
  padding: 10px;
  width: 100%;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: @font_Oswald;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @dark_grey_2;
  text-transform: uppercase;
  background-color: @light_grey;
  text-decoration: none;

  &:hover,
  &:active {
    background-color: @light_grey_2;
  }

  @media (min-width: @tablet_width) {
    width: 250px;
    height: 40px;
  }

  @media (min-width: @desktop_width) {
    width: 169px;
  }
}
